@import "tailwindcss";

@theme {
  --font-serif: var(--font-serif), serif;
  --font-sans: var(--font-sans), sans-serif;

  --color-luxury-beige: #FBF9F6;
  --color-luxury-cream: #F3EEE7;
  --color-luxury-black: #1A1A1A;
  --color-luxury-gray: #717171;
  --color-luxury-border: #E8E2D9;
}

:root {
  --background: #FBF9F6;
  --foreground: #1A1A1A;
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}
